name: Deploy to Server

on:
  push:
    tags:
      - "prod-*"

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Server Deployment
        uses: westblat/deploy-action@master
        with:
          ssh_host: ${{ secrets.SSH_HOST }}
          ssh_user: ${{ secrets.SSH_USER }}
          ssh_key: ${{ secrets.SSH_PRIVATE_KEY }}
          ghcr_user: ${{ secrets.GHCR_USER }}
          ghcr_token: ${{ secrets.GHCR_TOKEN }}
